<div class="home-categories-small">
  <% categories = @categories.filter do |cat| %>
  <% cat.photo_secondary.present? %>
  <% end %>
  <% categories.reverse_each do |category| %>
  <div class="home-small-card category-small" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= category.photo_secondary %>)">
    <div class="text-center">
      <h2><%= category.title %></h2>
      <%= link_to 'Explore', category_path(category), class: 'btn-home'%>
    </div>
  </div>
  <% end %>
</div>
<div class="credit_card-container">
  <div class="credit-card-content">
    <h2> <i class="fas fa-credit-card"></i> Payment</h2>
    <p>Pay with VISA, MasterCard, Klarna or PayPal in our secure checkout.</p>
  </div>
  <div class="credit-card-content">
    <h2><i class="fab fa-ups"></i> Shipping & Returns</h2>
    <p>Free home delivery over 1500 kr. All duties paid. Always free returns.</p>
  </div>
  <div class="credit-card-content">
    <h2><i class="fas fa-file-signature"></i>Extended Warranty</h2>
    <p>Two years warranty on all of our bags. We promise that they will last.</p>
  </div>
</div>
