<div class="db-black-container">
  <div class="home-small-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dmbom1kyl/image/upload/v1593273033/oskarbakke_Bonneville_20Salt_20Flats_20Utah_DbFamily_20Trip_201_AW1819_DJI_0076-Edit_720_gnef0i.jpg)">
    <%= link_to 'JOIN NOW ', '#', class: 'btn-home'%>
  </div>
  <div class="db-black-content d-flex justify-content-center">
    <div>
      <h2>Join Db Black</h2>
      <p>Finally, the membership you've been waiting for.</p>
      <p>$50 anniversary gift card</p>
      <p>Member-only product drops</p>
      <p>Product design input</p>
      <p>+ So much more!</p>
    </div>
  </div>
</div>
