<div class="home-cards">
  <div class="column">
    <%= link_to '#' do %>
    <div class="home-card " style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1530906358829-e84b2769270f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjIxMTIzfQ&auto=format&fit=crop&w=966&q=80)">
      Lamborghini
    </div>
    <% end %>
    <%= link_to '#' do %>
    <div class="home-card secondary" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://cdn.motor1.com/images/mgl/MEmVm/s3/2018-aston-martin-vanquish-s-coupe-review.jpg)">
      Aston Martin
    </div>
    <% end %>
  </div>
  <div class="column">
    <%= link_to  '#' do %>
   <div class="home-card secondary" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1514867644123-6385d58d3cd4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
    Ferrari
  </div>
  <%end %>
  <%= link_to  '#' do %>
  <div class="home-card " style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
    Porsche
  </div>
  <% end %>
</div>
</div>
