<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to 'categorias',categories_path %>
<% @categories.each do |category| %>
<%= link_to category.title, category_path(category)  %>
<% end %>
