.category-wrapper {
  width: 90%;
  margin: 0 auto;
}
.category-card-wrapper {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-gap: 16px;
 margin-top: 32px;
}

.category-navbar {
  padding: 32px 0px;
}

.filter-title {
  padding-bottom: 6px;
  font-size: 14px;
  border-bottom: 1px solid lightgrey;
  text-align: center;
  margin-bottom: 24px;
}

.filter-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  a {
    margin-left: 16px;
    color: black;
    text-decoration: none;
  }
  p {
    font-size: 14px;
    color: black;
    margin-bottom: 0px;

  }
}


.filter-color {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
  border-bottom: 1px solid lightgrey;
  p {
    font-size: 12px;
    color: black;
  }
  a {
    text-decoration: none;
    margin-right: 24px;
  }
}

@media(max-width: 767.98px) {

  .category-card-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 16px;
 }

 .filter-title {
  text-align: left;
}

.filter-categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 24px;
  a {
    color: black;
    text-decoration: none;
  }
  p {
    font-size: 14px;
    color: black;
    margin-bottom: 0px;

  }
}


.filter-color {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  p {
    font-size: 12px;
    color: black;
  }
  a {
    text-decoration: none;
    margin-right: 0px;
  }
}
}
