.filter-button {
  padding: 10px;
  background-color: transparent;
  color: blue;
  border: 1px solid blue;
  font-size: 14px;
  width: 150px;
}


.btn-home {
  border: 1px solid white;
  background: transparent;
  width: 150px;
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 15px;

}
