<div class="d-flex justify-content-between">
  <div>
    <% @category.products.each do |product| %>
    <%= link_to product.title, category_path(title: product.title)  %>
    <% end %>
  </div>
  <div>
    <% @products.each do |product| %>
    <%= link_to product.title, product_path(product) %>
    <% end %>
  </div>
</div>


