<% product_title = @product.title %>
<% product_id = @product.id %>
<% product_ids = @products.filter { |product| product.id != product_id} %>
<% product_links = product_ids.filter { |product| product.title == product_title } %>
<div class="product-small-image text-center">
  <% product_links.each do |product| %>
  <%= link_to product_path(product) do  %>
  <img src="<%= product.photo %>" alt="product-photo">
  <% end %>
  <% end %>
</div>
