.product-show-wrapper {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 16px;
}


.product-show-image {
  img {
    width: 100%;
    object-fit: cover;
    background-color: grey;
  }
}

.product-show-content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 16px;
  }

  h3 {
    font-size: 14px;
    padding-bottom: 18px;
    border-bottom: 1px solid lightgrey;
  }

  h4 {
   font-size: 14px;
   margin-top: 24px;
 }

 p {
  font-size: 16px;
}
}


.product-small-image {
  padding: 16px 0px;
  text-decoration: none;

  img {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    object-fit: cover;
  }
}



.product-show-price {
 display: flex;
 justify-content: center;
 align-items: center;
 p {
  margin-bottom: 0px;
  margin-right: 48px;
  font-size: 23px;
  font-weight: bold;
}

}

.product-content-footer{
  text-align: center;
  margin-top: 24px;
  margin-bottom: 56px;

  p {
    font-size: 12px;
    color: grey;
  }
}


@media(max-width: 900px) {
  .product-show-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .product-show-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-top: 16px;
    }

    h3 {
      font-size: 14px;
      padding-bottom: 18px;
      border-bottom: 1px solid lightgrey;
    }

    h4 {
     font-size: 14px;
     margin-top: 24px;
   }

   p {
    font-size: 14px;
   }
 }
}





















